body {
    height: 100vh;
}

.background-image {
    background-image: url("../img/hill.png");
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
  }

.container {
    display: inline-block;
    width: 800px;
    height: 400px;
    margin-left: calc( (100% - 700px) / 2);
    margin-top: calc( (100vh - 400px) / 2);
}
    .left {
        display: inline-block;
        width: 350px;
        height: 360px;
        background-color: grey;
        float: left;
        background-image: url("../img/hill.png");
        background-size: cover;
        margin-top: 20px;
    }
        h1 {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 30px;
            color: white;
            margin-top: 2%;

        }
            footer {
                display: inline-block;
                width: 100%;
                margin-top: 80%;
                text-align: center;

            }
            a {
                /* width: 100%; */
                color: white;
                text-decoration: none;
            


            }
            span {
                color: white;
                }
